<li class="pg-name">
    {% if e.pgName %}
        {% if e.pgGender == 1 %}
            <a href="{{ path('avatar-index', {name: e.pgName}) }}">
                <img src="{{ uploadPath('race') ~ e.raceMaleIcon }}">
                {{ e.pgName }}
            </a>
        {% else %}
            <a href="{{ path('avatar-index', {name: e.pgName}) }}">
                <img src="{{ uploadPath('race') ~ e.raceFemaleIcon }}">
                {{ e.pgName }}
            </a>
        {% endif %}
    {% endif %}
</li>
