{% extends 'GdrSiteBundle::layout.html.twig' %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% javascripts filter='?uglifyjs2'
    '@GdrSiteBundle/Resources/public/javascripts/age.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block content %}
    <div class="page-create-step2">
        <h2>Step 2 - Caratteristiche del Pg</h2>

        <p>Eccoti al secondo ed ultimo step della creazione del Personaggio! Ora potrai scegliere le caratteristiche
            distintive del tuo Personaggio a seconda della Razza che hai
            selezionato nello step precedente. <br>
            <a href="{{ path("user_new_pg") }}">Altrimenti, clicca qui e torna indietro</a>
        </p>


        <form action="" method="POST">

            <div class="left">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}

                {{ form_label(form.surname) }}
                {{ form_widget(form.surname) }}
                {{ form_errors(form.surname) }}

                {{ form_label(form.gender) }}
                {{ form_widget(form.gender) }}
                {{ form_errors(form.gender) }}

                {{ form_label(form.age) }}
                {{ form_widget(form.age) }}
                {{ form_errors(form.age) }}

                <div class="caratteristiche">
                    <div>
                        Forza: <span class="forza">{{ raceLevel.strength }}</span>
                    </div>

                    <div style="margin-bottom: 4px">
                        Saggezza: <span class="saggezza">{{ raceLevel.wisdom }}</span>
                    </div>

                    <div>
                        Fascia d'età: <span class="fascia">{{ raceLevel.name }}</span>
                    </div>
                    <span class="race hide">{{ race.id }}</span>
                </div>

                {{ form_label(form.weight) }}
                {{ form_widget(form.weight) }}
                {{ form_errors(form.weight) }}

            </div>

            <div class="right">
                {{ form_label(form.eyeColor) }}
                {{ form_widget(form.eyeColor) }}
                {{ form_errors(form.eyeColor) }}

                {{ form_label(form.skinColor) }}
                {{ form_widget(form.skinColor) }}
                {{ form_errors(form.skinColor) }}

                {{ form_label(form.furColor) }}
                {{ form_widget(form.furColor) }}
                {{ form_errors(form.furColor) }}

                {{ form_label(form.hairColor) }}
                {{ form_widget(form.hairColor) }}
                {{ form_errors(form.hairColor) }}

                {{ form_label(form.squamaColor) }}
                {{ form_widget(form.squamaColor) }}
                {{ form_errors(form.squamaColor) }}

                {{ form_label(form.height) }}
                {{ form_widget(form.height) }}
                {{ form_errors(form.height) }}

                {{ form_rest(form) }}
            </div>
            <div>
                <input class="button" type="submit" value="Crea personaggio" formnovalidate>
            </div>
        </form>
    </div>
{% endblock %}