<div class="first-row">
    <div class="first-column">
        <div class="container-image">
            <div class="image-background"></div>
            {% if personage.avatarName %}
                <img class="avatar-image" src="{{ vich_uploader_asset(personage, 'avatar') }}"
                     alt="Avatar di {{ personage.name }}"/>
            {% else %}
                {% if personage.gender == 1 %}
                    {% set img = vich_uploader_asset(personage.race, 'maleImage') %}
                {% else %}
                    {% set img = vich_uploader_asset(personage.race, 'femaleImage') %}
                {% endif %}
                <img class="avatar-image" src="{{ img }}" alt="{{ personage.race.name }}"/>
            {% endif %}
        </div>

        <a class="scrivi-missiva" href="{{ path('missive-create', {isForGroup:0, destinatario: personage.name}) }}">Scrivi
            una
            missiva</a>
    </div>
    <div class="second-column">
        <ul>
            <li><span>Nome:</span> {{ personage.name }}</li>
            <li><span>Cognome:</span> {{ personage.surname }}</li>
            <li><span>Nome Esteso:</span> {{ personage.nameExtended }}</li>
            <li><span>Razza:</span> <img src="{{ uploadPath('race') ~ personage.raceIcon }}"> {{ personage.race.name }}
            </li>
            <li><span>Età apparente:</span> {{ personage.skillsLevel|default("Imprecisato") }} {% if is_owner %}<abbr
                        title="Visibile solo a te">({{ personage.age }} anni)</abbr>{% endif %} <abbr
                        class="gdrtooltip" title="La Fascia d'Età è l'indicazione per gli altri giocatori di quanto sia vecchio il Personaggio.">[?]</abbr></li>
            <li><span>Forza:</span> {{ personage.strength }} <abbr class="gdrtooltip"
                                                                   title="La Forza è un valore calcolato in base all'età ed alla Razza del Personaggio. Rappresenta approssimativamente la sua prestanza fisica.">[?]</abbr>
            </li>
            <li><span>Saggezza:</span> {{ personage.sapience }} <abbr class="gdrtooltip"
                                                                      title="La Saggezza è un valore calcolato in base all'età ed alla Razza del Personaggio. Rappresenta approssimativamente il suo grado di saggezza.">[?]</abbr>
            </li>
            {% if personage.hideEnclave %}
                <li><span>Enclave:</span> -</li>
                <li><span>Ruolo Enclave:</span> -</li>
            {% else %}
                <li><span>Enclave:</span> {{ personage.enclaveRank.enclave|default('-') }}</li>
                <li><span>Ruolo Enclave:</span> {{ personage.enclaveRank|default('-') }}</li>
            {% endif %}
            {% if personage.hideClan %}
                <li><span>Enclave Razziale:</span> -</li>
                <li><span>Ruolo Enclave Razziale:</span> -</li>
            {% else %}
                <li><span>Enclave Razziale:</span> {{ personage.clanRank.enclave|default('-') }}</li>
                <li><span>Ruolo Enclave Razziale:</span> {{ personage.clanRank|default('-') }}</li>
            {% endif %}
            <li><span>Status:</span> {{ personage.status|default("Cittadino") }}</li>
            <li><span>Titolo:</span> {{ personage.title|default("-") }}</li>
            <li>
                <span>Residenza:</span> {% if hasKey %}{{ personage.address|default('Senza fissa dimora') }}{% else %}Senza fissa dimora{% endif %}
            </li>
            <li><span>Attività:</span> {{ personage.activity }}</li>
            <li><span>A Teon dal:</span>
                {% if personage.createdAt|date('Y') >= '2013' %}
                    {{ personage.createdAt|date('d/m/Y')|teon_date(true) }}
                {% else %}
                    Antico Teoniano
                {% endif %}
            </li>
            {% if personage.marriedWith %}
                <li><span>Stato civile:</span> Sposato/a
                    con {{ personage.marriedWith.title|default("") }} {{ personage.marriedWith.name }} {{ personage.marriedWith.surname.value }}
                </li>
            {% else %}
                <li><span>Stato civile:</span> Nubile/Celibe</li>
            {% endif %}
			           </ul>
    </div>
</div>

<div class="second-row">
    <div class="first-column">
        <ul>
            <li><span>Livello Razziale: </span>{{ personage.raceLevel }} <abbr
                        title="Il Livello di Razza indica l'evoluzione di consapevolezza del Personaggio su Shenteon."
                        class="gdrtooltip">[?]</abbr></li>

            {% if is_owner %}
                <li><span>Livello Combattente: </span> <abbr title="Visibile solo a te">{{ personage.combatLevel }}</abbr></li>
                <li><span>Mori indosso:</span> <abbr title="Visibile solo a te">{{ personage.bagAmount }}/10000</abbr>
                </li>
                <li><span>Mori in banca:</span> <abbr title="Visibile solo a te">{{ personage.bankAmount }}</abbr></li>
                <li><span>Lingue conosciute:</span> <abbr title="Visibile solo a te">{{ languages|join(", ") }}</abbr>
                </li>
            {% endif %}
            <li><span>Esperienza Razziale:</span> {{ personage.experience }} <abbr class="gdrtooltip" title="L'Esperienza Razziale indica il numero di azioni effettuate dal Personaggio con la Razza attuale.">[?]</abbr></li>
            <li><span>Esperienza Totale:</span> {{ personage.globalExperience }} <abbr
                        title="L'Esperienza Totale indica il numero di azioni effettuate dal Personaggio."
                        class="gdrtooltip">[?]</abbr></li>
            <li><span>Presenza su Teon:</span> {{ personage.carisma }} <abbr
                        title="La Presenza su Teon indica il numero d'ore di connessione al sito." class="gdrtooltip">[?]</abbr>
            </li>
            <li><span>Altezza:</span> {{ personage.height }} cm</li>
            <li><span>Peso:</span> {{ personage.weight }} kg</li>
            <li><span>Pelle/Pelo/Squame:</span> {{ personage.rightSkin }}</li>
            <li><span>Occhi:</span> {{ personage.eyeColor }}</li>
            <li><span>Capelli:</span> {{ personage.hairColor }}</li>
            <li><span>Parentele:</span> {{ personage.relationship }}</li>
            <li><span>Amicizie:</span> {{ personage.friendship }}</li>
            <li><span>Note del fato: </span> {{ personage.fateNote|default("-") }}</li>
			<li><span>Musica:</span> {{ personage.music }}</li>
        </ul>
    </div>
</div>

<div class="free-description-container">
    <i>Descrizione libera</i>

    <div class="free-description">
        <div class="corner"></div>
        <p>{{ personage.description }}</p>
    </div>
</div>

