{% extends 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

{% block admin_file_widget %}

{% spaceless %}
    {% set subject =  form.vars.sonata_admin.admin.getSubject%}
    {% if subject.id and attribute(subject, name) %}
        <a href="{{ asset(vich_uploader_asset(subject, name)) }}" target="_blank">
            <img src="{{ asset(vich_uploader_asset(subject, name)) }}" />
        </a><br/>
    {% endif %}
    {% set type = type|default('file') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endspaceless %}

{% endblock %}