{% extends 'GdrGameBundle:Default:innerContent.html.twig' %}

{% block goBack %}
    {{ render(controller('GdrGameBundle:Location:renderGoBack')) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts filter='?uglifyjs2'
    'bundles/gdrgame/javascripts/library.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <div class="library-container">
        <h1><span>Archivio</span></h1>

        <p class="text-centered">
            Benvenuto nell'Archivio di Teon. Tra gli scaffali delle sue stanze potrai trovare le Licenze Statutarie
            delle Enclavi nonché le notizie sulla storia di Teon dalla riapertura dei suoi confini.
        </p>

        <div class="images">
            {% for section in sections %}
                <a class="gdrtooltip" href="{{ path("archivio-show", {id: section.getId}) }}"
                   title="Accedi alla {{ section.getName }}">
                    <img src="{{ vich_uploader_asset(section, 'image') }}" alt="{{ section.name }}">
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}