{% extends 'GdrGameBundle:Default:innerContent.html.twig' %}

{% block goBack %}
{{ render(controller('GdrGameBundle:Location:renderGoBack')) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block content %}
<div class="master-container">
    <h2><span>Gestione - {{ enclave.getName }}</span></h2>

    <a class="button" href="{{ path('master-enclave-index') }}">Torna alla Gestione Enclave</a>

    <hr>

    <h3><span>Cambia il livello combattente di {{ member.getName }}</span></h3>

    <form action="{{ path('master-enclave-edit-level', {id: member.id}) }}" method="POST">

        <label>Livello Combattente</label>
        {{ form_widget(form.combatLevel) }}
        {{ form_rest(form) }}

        <br>
        <button type="submit" class="confirmation-action" formnovalidate>Conferma</button>
    </form>
</div>
{% endblock %}