{% extends 'GdrGameBundle:Default:innerContent.html.twig' %}

{% block goBack %}
    {{ render(controller('GdrGameBundle:Location:renderGoBack')) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="master-container">
        <h2><span>Gestione - {{ clan.getName }}</span></h2>

        <a class="button" href="{{ path('master-clan-index') }}">Torna alla Gestione Enclave Razziale</a>

        <hr>

        <h3><span>Cambia il ruolo di {{ member.getName }}</span></h3>

        <form action="{{ path('master-clan-edit-member', {id: member.id}) }}" method="POST">

            <label>Nuovo Ruolo</label>
            {{ form_widget(form.clanRank) }}
            {{ form_rest(form) }}

            <br>
            <button type="submit" class="confirmation-action" formnovalidate>Conferma</button>
        </form>
    </div>
{% endblock %}