{% extends '@GdrGame/Library/index.html.twig' %}

{% block content %}
    <div class="library-container museo">
    <h2><span>Museo - {{ section.getName }}</span></h2>

    <p class="text-centered">
        <a href="{{ path('museo-index') }}">Torna all'ingresso del Museo</a>
    </p>

    {% for book in books %}
        {% if loop.first %}
            <div class="ripiano">
        {% endif %}

        <a class="show-book gdrtooltip" data-href="{{ path('museo-show-book', {id: book.id}) }}" title="Osserva {{ book.title }}">
            <img src="{{ vich_uploader_asset(book, 'image') }}" alt="{{ book.getTitle }}">
        </a>

        {% if loop.index % 4 == 0 or loop.last %}
            </div>
        {% endif %}

        {% if loop.index % 4 == 0 and loop.last == false %}
            <div class="ripiano">
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}