{% set nameForParam = chat.senderName|split(' ')|last %}
        {% if chat.special != 'soul' %}
            <p class="chat-row action {{ chat.cssClass|default(' ') }}">
                <span class="time">{{ chat.createdAt|date('H.i') }}</span>

                <a data-name="{{ nameForParam }}" data-type="pg-info"
                   data-url="{{ url('chat-pg-infos', {name: nameForParam}) }}"
                   class="tooltip-chat"
                   href="{{ path('avatar-index', {name: nameForParam}) }}">
                    <img src="{{ app.request.getSchemeAndHttpHost ~ chat.senderRaceIcon }}">
                </a>

                <a data-name="{{ nameForParam }}" class="tooltip-chat" data-type="pg-items"
                   data-url="{{ url('chat-pg-items', {name: nameForParam}) }}">
                    <img src="{{ app.request.getSchemeAndHttpHost ~ asset('bundles/gdrgame/images/chat/show-equip.gif') }}">
                </a>

                {% if chat.senderRankName %}
                    <a class="standard-tooltip" title="{{ chat.senderRankName }}">
                        <img src="{{ app.request.getSchemeAndHttpHost ~ chat.senderLevelIcon }}">
                    </a>
                {% else %}
                    <a class="standard-tooltip" title="Appartenenza ad Enclavi sconosciuta">
                        <img src="{{ app.request.getSchemeAndHttpHost ~ asset('bundles/gdrgame/images/chat/no-enclave.png') }}">
                    </a>
                {% endif %}

                {% if chat.combat and chat.combat != "0" %}
                    <a class="gdrtooltip" title="{{ chat.combat }}">
                        <img src="{{ app.request.getSchemeAndHttpHost ~ asset('bundles/gdrgame/images/chat/combat.png') }}">
                    </a>
                {% endif %}

                <span class="sender">{{ chat.senderName }}</span>
                {% if chat.tag %}
                    <span class="tag">[{{ chat.tag }}{% if chat.freeTag %}|{{ chat.freeTag }}{% endif %}]</span>
                {% endif %}
                <span class="body">
                    {% spaceless %}
                        {% if isCastI %}
                            <span class="cast">*</span>
                    {% elseif isCastII %}
                            <span class="cast">**</span>
                        {% endif %}
                    {{ chat.body|normalChat|trim|raw }}
                    {% if isCastI %}
                        <span class="cast">*</span>
                    {% elseif isCastII %}
                        <span class="cast">** [<i>{{ chat.castBody }}</i>] **</span>
                    {% endif %}
                    {% if chat.special == 'skill' %}
                        <span class="skill"><i> [{{ chat.skill }}]</i></span>
                    {% endif %}
                    {% endspaceless %}
                </span>
            </p>
        {% endif %}