{% extends 'GdrGameBundle:Default:innerContent.html.twig' %}

{% block goBack %}
    {{ render(controller('GdrGameBundle:Location:renderGoBack')) }}
{% endblock %}

{% block content %}

    <div class="page-mod">

        <h2><span>Moderazione - Esilia PG</span></h2>

        <div class="centered-form">
            <div class="errors">
                {% for flashMessage in app.session.flashbag.get('success') %}

                    <p><strong>{{ flashMessage }}</strong></p>
                {% endfor %}
            </div>

            <form action="" method="POST">

                {{ form_label(form.personage) }}
                {{ form_widget(form.personage) }}
                {{ form_errors(form.personage) }}

                {{ form_label(form.reason) }}
                {{ form_widget(form.reason) }}
                {{ form_errors(form.reason) }}

                {{ form_label(form.days) }}
                {{ form_widget(form.days) }}
                {{ form_errors(form.days) }}

                {{ form_rest(form) }}

                <button type="submit" formnovalidate="formnovalidate">Esilia il personaggio</button>
            </form>
        </div>

        <hr>

        <h3>Personaggi Esiliati</h3>
        <table class="spaced">
            <tr class="dark">
                <th>Personaggi</th>
                <th>Moderatore</th>
                <th>Giorni</th>
                <th>Dal</th>
                <th>Al</th>
                <th>Motivo</th>
            </tr>
            {% for esilio in paginator %}
                <tr>
                    <td class="dark">
                        {% for personage in esilio.banned.personages %}
                            {{ personage.name }}
                        {% endfor %}
                    </td>
                    <td>{{ esilio.moderator }}</td>
                    <td>{{ esilio.days }}</td>
                    <td>{{ esilio.createdAt|date("d/m/Y H:i") }}</td>
                    <td>{{ esilio.until|date("d/m/Y H:i") }}</td>
                    <td>{{ esilio.reason }}</td>
                </tr>
            {% endfor %}
        </table>

        <div class="text-centered">
            {{ knp_pagination_render(paginator) }}
        </div>
    </div>

{% endblock %}